{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}
    
    <form method="POST">
    <br\>
      <h3 align="center">Who being viewed</h3>
      <div class="form-group">
        <label for="email">Select the letter of the last name of the players</label>
        <div class="row">
            <div class="col-4 text-center">
             <input type="checkbox" id="user" name="0" value="A"/>  A
           </div>
           <div class="col-4 text-center">
             <input type="checkbox" id="user" name="1" value="B"/>  B
           </div>
           <div class="col-4 text-center">
             <input type="checkbox" id="user" name="2" value="C"/>  C
           </div>
           <div class="col-4 text-center">
             <input type="checkbox" id="user" name="3" value="D"/>  D
           </div>
           <div class="col-4 text-center">
             <input type="checkbox" id="user" name="4" value="E"/>  E
           </div>
           <div class="col-4 text-center">
             <input type="checkbox" id="user" name="5" value="F"/>  F
           </div>
           <div class="col-4 text-center">
             <input type="checkbox" id="user" name="6" value="G"/>  G
           </div>
           <div class="col-4 text-center">
             <input type="checkbox" id="user" name="7" value="H"/>  H
           </div>
            <div class="col-4 text-center">
             <input type="checkbox" id="user" name="8" value="I"/>  I
           </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="9" value="J"/>  J
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="10" value="K"/>  K
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="11" value="L"/>  L
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="12" value="M"/>  M
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="13" value="N"/>  N
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="14" value="O"/>  O
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="15" value="P"/>  P
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="16" value="Q"/>  Q
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="17" value="R"/>  R
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="18" value="S"/>  S
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="19" value="T"/>  T
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="20" value="U"/>  U
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="21" value="V"/>  V
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="22" value="W"/>  W
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="23" value="X"/>  X
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="24" value="Y"/>  Y
          </div>
          <div class="col-4 text-center">
            <input type="checkbox" id="user" name="25" value="Z"/>  Z
          </div>
          </div>
      </div>
<!--      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
    -->
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    {% endblock %}